
<%-include('header')%>
<div class="container">
<h1>ADM</h1>
<hr>
<ul>
    <li><a href="/admin/vaga">Gerenciar vagas</a></li>
    <li><a href="/admin/categoria">Gerenciar Categorias</a></li>
</ul>
<hr>
</div>
<%-include('footer')%>