
 <%- include ('header') %>

<h1>Descrição da vaga</h1>
<div class="card container">
  <h3><%- vaga.vaga %> </h3>  
<div class="card-body">
 <p style="color: black;"><%- vaga.descricao %></p>
</div>
</div>




<%- include ('footer') %>



